@model IEnumerable<ProjetoManutencaoEquipamentos.Models.OrdensServico>

<link href="~/css/listas.css" rel="stylesheet" />

<h2>Ordens</h2>

<table class="tbl">
    <thead>
        <tr>
            <th>Título</th>
            <th>Mensagem</th>
            <th>Modelo</th>
            <th>Situação</th>
            <th>Técnico</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ordem in Model)
        {
            <tr>
                <td style="display: none"><input type="hidden" value="@ordem.id_ordem" /></td>
                <td style="display: none"><input type="hidden" value="@ordem.id_equipamento" /></td>
                <td style="display: none"><input type="hidden" value="@ordem.id_tecnico" /></td>
                @*
                @if (!(usuario. == null))
                {
                    <td><img style="min-width: 50px; min-height: 50px; background-color: lightgray; opacity: 0.75; border: 1px solid black; border-radius: 10px;" src="@usuario.Imagem" alt="Nada" /></td>
                }
                else
                {
                    <td><p style="margin: 0 auto; text-align: center;">Nada</p></td>
                } *@
                <td>@ordem.titulo</td>
                <td>@ordem.descricao</td>
                <td>@ordem.modelo_equipamento</td>
                <td>@ordem.situacao</td>
                @if(ordem.nome_tecnico != null)
                {
                    <td>@ordem.nome_tecnico</td>
                }
                <td>Nenhum</td>
                <td>@ordem.criado_em</td>
                <td>
                    <div class="acoes">
                        <form asp-action="Editar" method="get">
                            <input type="hidden" name="id" value="@ordem.id_ordem" />
                            <button type="submit" class="btn btn-editar">Editar</button>
                        </form>
                        <form asp-action="Excluir" method="post" onsubmit="return confirm('Excluir este livro?');">
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="id" value="@ordem.id_ordem" />
                            <button type="submit" class="btn btn-excluir">Excluir</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<a asp-action="Cadastrar" class="btnLink">Cadastrar Ordem</a>